body {
  background-color: darkslategrey;
  font-family: "Trebuchet MS";
  background-image: url("/images/lake.jpg");
}

#topMenu {
  width: 100%;
  height: 100px;
  top: -25px;
}

#topMenu h1 {
  text-align: center;
  margin-top: -10px;
  color: gold;
  font-size: 100px;
  text-shadow: 2px 2px black;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

#bookingContainer {
  position: relative;
  width: 1800px;
  height: 1200px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-color:  rgba(40,70,70,.9);;
  border-radius: 7px;
}

.title1 {
  position: absolute;
  margin-left: 100px;
  margin-top: 125px;
  color: white;
}
.title2 {
  position: absolute;
  margin-left: 1350px;
  margin-top: 125px;
  color: white;
}

#inputContainer {
  position: absolute;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(1, 350px);
  background-color: darkcyan;
  border: 1px solid white;
  width: 350px;
  height: 500px;
  margin-left: 1350px;
  margin-top: 200px;
  border-radius: 7px;
}

#inputContainer label {
  margin-left: 40px;
  color: white;
}

#inputContainer button {
  margin-left: 40px;
}

input {
  width: 200px;
  height: 35px;
  margin-left: 40px;
  border-radius: 7px;
  color: black;
  font-size: 20px;
}

select {
  width: 200px;
  height: 35px;
  margin-left: 40px;
  border-radius: 7px;
  background-color: white;
  color: black;
  font-size: 20px;
}

.weatherContainer {
  position: absolute;

  width: 1200px;
  height: 500px;
  margin-top: 200px;
  margin-left: 100px;

  border-radius: 7px;
}
#weatherContainer p {
  text-align: center;
  color: white;
  font-size: 24px;
}

#iconsContainer {
  display: flex;
}

.icons {
  width: 300px;
  height: 400px;
  margin-right: 30px;
  border-radius: 7px;
  background-color: darkcyan;
  color: white;
  border: 1px solid white;
}

#iconsContainer .date {
  color: white;
  font-size: 20px;
}

.icons .image {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: auto;
}

#symbolContainer {
  position: absolute;
  display: grid;
  text-align: right;
  margin-left: 300px;
  margin-top: 150px;
  grid-template-columns: repeat(2, 150px);
  color: white;
  font-size: 20px;
}

#boatName1 {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  
  font-size: 18pt;
}

#boatName1 span:before{
  content: "Tere Boat";
}

#boatName1 span:hover:before{
  content: "";
}

#boatName1 span:hover:after{
  content:"Fast Boat";
  
}
#boatName2 {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 18pt;
}

#boatName2 span:before{
  content: "Nui Boat";
}

#boatName2 span:hover:before{
  content: "";
}

#boatName2 span:hover:after{
  content:"Great Boat";
  
}






#boatName2 {
  position: absolute;
  width: 100%;
  text-align: center;

  margin-top: 50px;
}

#priceContainer {
  position: absolute;
  font-size: 20px;
  display: grid;
  background-color: white;
  width: 350px;
  margin-left: 1300px;
  margin-top: 150px;
  border-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

#priceContainer h1 {
  margin-left: 30px;
  width: 300px;
  font-family: "Trebuchet MS";
  font-size: 28px;
  color: black;
}
.topBookingRow {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  border-bottom: 1px solid black;
  color: white;
  background-color: darkcyan;
  height: 50px;
  padding-left: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
.topBookingRow .p {
  height: 20px;
  margin-left: 25px;
  color: white;
}

#priceContainer .bookingRow {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  height: 50px;
  background-color: white;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
#bottomBookingRow {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  background-color: darkcyan;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 120px;
}

#bottomBookingRow p {
  margin-left: 25px;
  background-color: darkcyan;
  color: white;
}

#page2Confirm {
  margin-left: 80px;
}

#page2Back {
  margin-left: 25px;
}

.backButton {
  margin-left: 25px;
  margin-top: 25px;
}

#newWeatherContainer {
  position: absolute;
  background-color: white;
  width: 300px;
  height: 300px;
  margin-left: 0px;
  margin-top: 100px;
  border-radius: 7px;
}

#titleFood {
  position: absolute;
  color: white;
  margin-left: 125px;
  margin-top: 50px;
}

#menuContainer {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  margin-left: 100px;
  margin-top: 70px;
}

#menuContainer .food {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  width: 300px;
  height: 425px;
  border: 1px solid black;
  background-color: darkcyan;
  border-radius: 7px;
}

#menuContainer h1 {
  color: white;
}

#menuContainer p {
  padding-left: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 20px;
}

#menuContainer button {
  margin-left: 20px;
}

.food h1 {
  text-align: center;
  width: 300px;
  font-family: "Trebuchet MS";
  font-size: 28px;
  color: black;
}

#cartContainer {
  position: absolute;
  background-color: white;
  width: 520px;
  height: 70px;
  margin-top: 100px;
  margin-left: 1200px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

#cartContainer h1 {
  margin-left: 30px;
  width: 300px;
  font-family: "Trebuchet MS";
  font-size: 28px;
  color: black;
}
.topRow {
  display: grid;
  grid-template-columns: repeat(4, 140px);
  border: 1px solid black;
  color: white;
  background-color: darkcyan;

  padding-left: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.cartRow {
  display: grid;
  grid-template-columns: repeat(4, 140px);

  background-color: white;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
.cartRow input {
  width: 60px;
  height: 40px;
  margin-left: 0px;
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
.cartRow button {
  background-color: red;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  width: 70px;
  margin-left: -25px;

  height: 30px;
  font-size: 16px;
  font-family: "Trebuchet MS";

  border: none;
  border-radius: 7px;
  background-color: red;
}

#bottomRow {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: white;
  background-color: darkcyan;
  height: 124px;

  padding-left: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

#cartBack {
  margin-left: 0px;
}

#cartConfirm {
  margin-left: 220px;
}

button {
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-family: "Trebuchet MS";
  font-style: oblique;
  color: black;
  border: none; 
  border-radius: 7px;
  background-color: gold;
}

button:hover{
  background-color: orange;

}
#button1 {
  display: inline-block;
  margin-left: 30px;
}

#button2 {
  display: inline-block;
  margin-left: 60px;
}

#button3 {
  display: inline-block;
  margin-left: 30px;
}

.button:hover {
  background-color: darkorange;
  color: black;
  transition: 0.1s;
}

#boatContainer {
  position: absolute;
  margin-top: 150px;
  margin-left: 680px;
  width: 1000px;
}

#tereBoat .row {
  display: flex;
}

#tereBoat #row1,
#tereBoat #row2,
#tereBoat #row9 {
  margin-left: 50px;
}

#nuiBoat .row {
  display: flex;
}

#nuiBoat #row1,
#nuiBoat #row2 {
  margin-left: 100px;
}
#nuiBoat #row3,
#nuiBoat #row4,
#nuiBoat #row12,
#nuiBoat #row13 {
  margin-left: 50px;
}



.seat {
  background-color: white;
  height: 40px;
  width: 40px;
  margin: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.seat:hover {
  background-color: cyan;
}
.symbol {
  background-color: white;
  height: 40px;
  width: 40px;
  margin: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.booked {
  background-color: orange;
}

.booked:hover {
  cursor: not-allowed;
  background-color: red;
}

.selected {
  background-color: greenyellow;
  margin: 5px;
}

.confirmed {
  background-color: blue;
}

.confirmed:hover {
  cursor: not-allowed;
  background-color: red;
}

.booked:hover {
  cursor: not-allowed;
  background-color: red;
}

#bookingDetails {
  background-color: white;
  width: 700px;
  height: auto;
  border: 1px solid black;
  margin: auto;
  margin-top: 100px;
  border-radius: 7px;
  font-family: 'Courier New', Courier, monospace;

}

#bookingDetails p {
  margin-left: 100px;
    font-size: 18px;
  color: black;
}

#bookingRow1Header {
  display: grid;
  grid-template-columns: repeat(2, 290px);
  font-weight: bold;
}

#bookingRow1 {
  display: grid;
  grid-template-columns: repeat(2, 290px);
  margin-top: -20px;
}

#bookingRow2Header {
  display: grid;
  grid-template-columns: repeat(2, 290px);
  font-weight: bold;
}

#bookingRow2 {
  display: grid;
  grid-template-columns: repeat(2, 290px);
  margin-top: -20px;
}

#bookingRow3Header {
  display: grid;
  grid-template-columns: repeat(2, 290px);
  font-weight: bold;
}
#bookingRow3 {
  display: grid;
  grid-template-columns: repeat(2, 290px);
  margin-top: -20px;


}

#finalSeatPrice{
  font-weight: bold;

}

#totalPrice{
  font-weight: bold;
}

#bookingRow4Header {
  display: grid;
  grid-template-columns: repeat(2, 290px);
  font-weight: bold;
}

#bookingRow4 {
  display: grid;
  grid-template-columns: repeat(2, 290px);
  margin-top: -20px;
}

#bookingRow5Header {
  display: grid;
  grid-template-columns: repeat(2, 290px);
  font-weight: bold;
}

#bookingRow5 {

  margin-top: -20px;
}

#bookingRow6Header {
  display: grid;
  grid-template-columns: repeat(1, 290px);
  font-weight: bold;
}

#bookingRow6 {
  display: grid;
  grid-template-columns: repeat(1, 290px);
  margin-top: -20px;
}

#page4Buttons{
  
  margin-left: 800px;
  margin-top: 25px;
  
}

#seatPopup{
  position: absolute;
  background-color: white;
  width: 110px;
  border-radius: 7px;
  opacity: .8;
  font-weight: bold;
  text-align: center;
  
}






